 /* {
    margin-left: 100%;
} */
* {
    font-family: 'Roboto', sans-serif;
    color: #405183;
    text-decoration: none;
}

.DivHeader {
    display: flex;
    text-align: center;
    align-items: center;
    width: 100%;
}

.DivNav {
    display: flex;
    text-align: center;
    align-items: center;
    width: 50%;
}

.HeaderLink {
    margin: 3%;
}

.FranceDoleanceLogo img{
    margin: 0% 5% 0% 2%; 
    width: 75%;
}

.ConnexionLink {
    font-weight: 600;
}